<div class="max-w-md mx-auto space-y-2">
  <h1 class="text-3xl">Feed</h1>
  
  <.live_component
    module={CalendarwithfriendsWeb.Lib.FeedComponent}
    id="calendar"
    events={@events}
    interests={@interests}
    current_user={@current_user}
    routes={Routes}
  />
</div>
