<h1>Show Interest</h1>

<ul>

</ul>

<span><%= link "Edit", to: Routes.html_interest_path(@conn, :edit, @interest) %></span> |
<span><%= link "Back", to: Routes.html_interest_path(@conn, :index) %></span>
